:root {
    --default-font: "SF Display";
    --background-color: rgb(237,238,240);
    --background: rgb(255, 255, 255);
    --background-alpha50: rgba(255, 255, 255, 0.5);
    --background-alpha70: rgba(255, 255, 255, 0.7);
    --background-alpha75: rgba(255, 255, 255, 0.75);
    --button-background: var(--background);
    --button-background-second: var(--light-gray);
    --button-border: var(--text-color);
    --green: rgb(76, 175, 80);
    --light-green: rgb(224, 255, 225);
    --red: rgb(244, 67, 54);
    --light-red: rgb(255, 230, 228);
    --blue: rgb(44, 122, 194);
    --light-blue: rgb(224, 246, 255);
    --gray: rgb(179, 179, 179);
    --light-gray: rgb(237,238,240);
    --menu-hover: var(--light-gray);
    --deliminator: var(--light-gray);
    --text-color: black;
}

@font-face {
    font-family: "SF Display";
    font-style: normal;
    font-weight: 900;
    font-feature-settings: 'case' on;
    src:url("./fonts/sf-display-black.otf");
}

@font-face {
    font-family: "SF Display";
    font-style: normal;
    font-weight: 800;
    font-feature-settings: 'case' on;
    src:url("./fonts/sf-display-bold.otf");
}

@font-face {
    font-family: "SF Display";
    font-style: normal;
    font-weight: normal;
    font-feature-settings: 'case' on;
    src:url("./fonts/sf-display-regular.otf");
}

@font-face {
    font-family: "SF Display";
    font-style: normal;
    font-weight: 700;
    font-feature-settings: 'case' on;
    src:url("./fonts/sf-display-medium.otf");
}

@media (max-width: 800px) {
    .background {
        position: fixed;
    }
    .container > div {
        margin: 10px 0px;
        display: block; 
        width: 100% !important;
    }
    
    h1 {
        font-size: 32px !important;
    }
}

.background {  
    position: absolute; 
    display: block;
    top: 0;
    left: 0;  
    z-index: -1;
}

body {
    background-color: var(--background-color);
    font-family: var(--default-font);
    font-weight: normal;
    color: var(--text-color);
    margin: 0;
    font-size: 0;
}

h1 {
    display: inline;
    margin: 0;
    margin-right: 10px;
    font-weight: 900;
    font-size: 3vw;
    text-decoration: underline;
}

h2 {
    margin: 0;
    text-decoration: underline;
    font-weight: 800;
}

a {
    color: var(--text-color);
    text-decoration: none; 
}

p {
    margin: 8px 0px;
}

span {
    font-weight: 800;
}

ul {
    margin: 0;
    padding: 0;
}

/* СТАНДАРТНЫЕ КНОПКИ */

button {
    margin: 5px 0px;
    padding: 10px 10px;
    background-color: var(--button-background);
    border: 3px solid var(--button-border);
    border-radius: 0;
    min-height: 50px;
    cursor: pointer;
    font-size: 16px;
    font-family: var(--default-font);
    font-weight: normal;
    color: var(--text-color);
    width: 100%;
    max-width: 300px;
}

button:hover {
    background-color: var(--button-background-second);
}

button:focus {
    outline: none;
    background-color: var(--button-background);
    box-shadow: 0 0 0 3px var(--button-background-second);
}

#startAlgorithmButton {
    font-size: 18px;
    font-weight: 800;
    margin: 0;
    border-color: var(--green);
}

#startAlgorithmButton:hover {
    background-color: var(--light-green);
}

#startAlgorithmButton:focus {
    box-shadow: 0 0 0 3px var(--light-green);
}

#endAlgorithmButton {
    font-size: 18px;
    font-weight: 800;
    margin: 10;
    border-color: var(--red);
}
#endAlgorithmButton:hover {
    background-color: var(--light-red);
}

#endAlgorithmButton:focus {
    box-shadow: 0 0 0 3px var(--light-red);
}

#clearField {
    border-color: var(--blue);
}

#clearField:hover {
    background-color: var(--light-blue);
}

#clearField:focus {
    box-shadow: 0 0 0 3px var(--light-blue);
}

#backButton {
    max-width: none;
    width: 50%;
    margin: 0 auto;
}

.blockable:disabled {
    cursor: default;
    color: darkgray !important;
    border-color: darkgray !important;
}

.blockable:hover:disabled {
    background-color: white !important;
}

/* ОФОРМЛЕНИЕ МЕНЮ */

.menu {
    top: 0;
    left: 5%;
    width: 90%;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 16px;
    font-weight: 700;
    backdrop-filter: blur(2px);
    background: var(--background-alpha75);
    position: fixed;
    display: flex;
    z-index: 1;
    border-radius: 0 0 5px 5px;
}

.menu div{
    padding-left: 10px;
    padding-right: 10px;
    width: 16%;
    border-left: 3px solid var(--text-color);
    text-align: left;
}

.menu div a {
    display: block;
    height: 100%;
    cursor: pointer;
}

.menu div:hover {
    background-color: var(--menu-hover);
}

#currentTask {
    font-weight: 900;
}

/* КОНТЕЙНЕР */

.main {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 25px;
}

.container > div {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    font-size: 16px;
}

.firstColumn {
    margin-right: 1%;
    width: 33%;
}

.firstColumn h2 {
    margin-bottom: 10px;
}

.secondColumn {
    width: 40%;
}

.thirdColumn {
    margin-left: 1%;
    width: 25%;
}

.block {
    background: var(--background-alpha70);
    backdrop-filter: blur(2px);
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
}

.deliminator {
    height: 0;
    width: 100%;
    margin: 20px 0px;
    border: 1px solid var(--deliminator);
}

#error {
    border: 3px solid var(--red);
}

#field {
    border-radius: 10px;
    background: var(--background);
}

/* ПАНЕЛЬ ИНФОРМАЦИИ */

.instructionList {
    margin-bottom: 15px;
}

.instructionList li {
    margin-left: 20px;
    padding: 5px 0px;
}

/* НАСТРОЙКИ */

.settingsBlock li {
    list-style-type: none;
    display: inline;
}

input[type = "range"] {
    width: 100%;
    max-width: 300px;
    margin: 0;
}

.advanced {
    color: var(--green);
    border: 2px solid var(--green);
    font-size: 12px;
    text-decoration: none !important;
    padding: 3px 5px;
    margin-left: 5px;
    border-radius: 30px;
}

:disabled .advanced {
    color: darkgray !important;
    border: 2px solid darkgray !important;
}