.titleContainer {
    margin: auto;
    display: flex;
    align-items: center;
    height: 100%;
    width: 90%;
}

.title {
    border-radius: 10px;
    padding: 15px 50px 15px 15px;
    display: inline-block;
    z-index: 1;
    background: var(--background-alpha50);
    color: var(--text-color);
    backdrop-filter: blur(2px);
}

.title p {
    font-size: 2vw; 
    font-weight: 700;
}