@font-face {
    font-family: "SF Display";
    font-style: normal;
    font-weight: 900;
    font-feature-settings: 'case' on;
    src:url("../fonts/sf-display-black.otf");
}

@font-face {
    font-family: "SF Display";
    font-style: normal;
    font-weight: bold;
    font-feature-settings: 'case' on;
    src:url("../fonts/sf-display-bold.otf");
}

@font-face {
    font-family: "SF Display";
    font-style: normal;
    font-weight: normal;
    font-feature-settings: 'case' on;
    src:url("../fonts/sf-display-regular.otf");
}

@font-face {
    font-family: "SF Display";
    font-style: normal;
    font-weight: 700;
    font-feature-settings: 'case' on;
    src:url("../fonts/sf-display-medium.otf");
}

A{
    text-decoration: none; 
    color: black;
}
body{
    font-family: "SF Display";
    font-weight: normal;
    margin: 0;
    padding: 0;
    
}

h1 {
    font-weight: 900;
    font-size: 6vw;
    text-decoration: underline;
   
}

.title {
    position: relative;
    font-size: 1.5vw;
    
}
.title p{
    font-size: 2vw; 
    font-weight: 700;
}

.photo{
    position: absolute;
    top: 70px;
    left: 941px;
    width: 80%;
    background-position: right top;
}

.title {
    width: 90%;
    margin: auto;
    top:150px;
}

.menu {
    top: 0;
    left: 5%;
    width: 90%;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 700;
    background-color:white;
    position: fixed;
    display: flex;
    cursor:pointer;
    z-index: 1;
}

.menu div {
    padding-left: 10px;
    padding-right: 10px;
    width: 16%;
    border-left: 3px solid;
    text-align: left;
}

.menu div:hover {
    background-color: azure;
}