:root {
    --current-color: yellow;
    --trace-color: aquamarine;
}

/* ПОЛЕ */

table {
    margin: 0 auto;
    table-layout: fixed;
    border: 2px solid gray;
    border-collapse: collapse;
}

td {
    border: 1px solid gray;
}

td[data-mode = "default"]:hover {
    background-color:azure;
}

td[data-mode = "blocked"] {
    background-color:gray;
}

td[data-mode = "blocked"]:hover {
    background-color:lightgray;
}

td[data-mode = "start"] {
    background-color:var(--green);
}

td[data-mode = "start"]:hover {
    background-color:var(--light-green);
}

td[data-mode = "end"] {
    background-color:var(--red);
}

td[data-mode = "end"]:hover {
    background-color:var(--light-red);
}

td[data-mode = "current"] {
    background-color: var(--current-color);
}

td[data-mode = "trace"] {
    background-color: var(--trace-color);
}

/* НАСТРОЙКИ */

.changeCellButton[data-mode="start"]{
    border-color: var(--green);
}

.changeCellButton[data-mode="start"]:hover{
    background-color: var(--light-green);
}

.changeCellButton[data-mode="start"]:focus{
    box-shadow: 0 0 0 3px var(--light-green);
}

.changeCellButton[data-mode="end"] {
    border-color: var(--red);
}

.changeCellButton[data-mode="end"]:hover {
    background-color:var(--light-red);
}

.changeCellButton[data-mode="end"]:focus {
    box-shadow: 0 0 0 3px var(--light-red);
}