ul {
    margin: 0;
    padding: 0;
}

/* ОСНОВНОЙ КОНТЕЙНЕР */

@media (max-width: 800px) {
    .container div {
        display: block; 
        width: 100%;
    }
}

.main {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 25px;
}

.container div {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
}

.about {
    margin-right: 2%;
    width: 30%;
}

.field {
    width: 45%;
}

.settings {
    margin-left: 2%;
    width: 20%;
}

/* ПАНЕЛЬ ИНФОРМАЦИИ */

.instructionList {
    margin-bottom: 20px;
}

.instructionList li {
    margin-left: 20px;
    padding: 5px 0px;
}

/* ПОЛЕ */

table {
    table-layout: fixed;
    border-collapse: collapse;
    border: 2px solid; 
    margin: 0 auto;
}

td {
    border: 1px solid;
}

td[data-mode = "default"]:hover {
    background-color:azure;
}

td[data-mode = "blocked"] {
    background-color:gray;
}

td[data-mode = "blocked"]:hover {
    background-color:lightgray;
}

td[data-mode = "start"]:hover {
    background-color:#c2fdc4;
}

td[data-mode = "start"] {
    background-color:#4CAF50;
}

td[data-mode = "end"]:hover {
    background-color:#ffc1bd;
}

td[data-mode = "end"] {
    background-color:#f44336;
}

td[data-mode = "current"] {
    background-color: yellow;
}

td[data-mode = "trace"] {
    background-color:aquamarine;
}

/* НАСТРОЙКИ */

.settingsBlock {
    width: 100%;
    margin-bottom: 10px;
}

.settingsBlock p {
    margin-bottom: 8px;
}

.settingsBlock li {
    list-style-type: none;
    display: inline;
}

#chooseSize {
    width: 100%;
    max-width: 300px;
}

/* КНОПКИ */

#startAlgorithmButton {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
}

.changeCellButton[data-mode="start"], #startAlgorithmButton {
    border-color: #4CAF50;
}

.changeCellButton[data-mode="start"]:hover, #startAlgorithmButton:hover {
    background-color:#dfffe0;
}

.changeCellButton[data-mode="start"]:focus, #startAlgorithmButton:focus {
    box-shadow: 0 0 0 3px #dfffe0;
}

.changeCellButton[data-mode="end"] {
    border-color: #f44336;
}

.changeCellButton[data-mode="end"]:hover {
    background-color:#ffe6e4;
}

.changeCellButton[data-mode="end"]:focus {
    box-shadow: 0 0 0 3px #ffe6e4;
}

.clearField {
    border-color: #2c7ac2;
}

.clearField:hover {
    background-color:#dff6ff;
}

.clearField:focus {
    box-shadow: 0 0 0 3px #dff6ff;
}