:root {
    --current-color: yellow;
    --trace-color: aquamarine;
}

/* ОСНОВНОЙ КОНТЕЙНЕР */

ul {
    margin: 0;
    padding: 0;
}

.main {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 25px;
}

#field {
    width: 40%;
    box-sizing: border-box;
}

/* ПАНЕЛЬ ИНФОРМАЦИИ */

.instructionList {
    margin-bottom: 20px;
}

.instructionList li {
    margin-left: 20px;
    padding: 5px 0px;
}

/* ПОЛЕ */

table {
    margin: 0 auto;
    table-layout: fixed;
    border: 2px solid;
    border-collapse: collapse;
}

td {
    border: 1px solid;
}

td[data-mode = "default"]:hover {
    background-color:azure;
}

td[data-mode = "blocked"] {
    background-color:gray;
}

td[data-mode = "blocked"]:hover {
    background-color:lightgray;
}

td[data-mode = "start"] {
    background-color:var(--green);
}

td[data-mode = "start"]:hover {
    background-color:var(--light-green);
}

td[data-mode = "end"] {
    background-color:var(--red);
}

td[data-mode = "end"]:hover {
    background-color:var(--light-red);
}

td[data-mode = "current"] {
    background-color: var(--current-color);
}

td[data-mode = "trace"] {
    background-color: var(--trace-color);
}

/* НАСТРОЙКИ */

.settingsBlock {
    width: 100%;
    margin-bottom: 10px;
}

.settingsBlock p {
    margin-bottom: 8px;
}

.settingsBlock li {
    list-style-type: none;
    display: inline;
}

#chooseSize {
    width: 100%;
    max-width: 300px;
}

/* КНОПКИ */

#startAlgorithmButton {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
}

.changeCellButton[data-mode="start"], #startAlgorithmButton {
    border-color: var(--green);
}

.changeCellButton[data-mode="start"]:hover, #startAlgorithmButton:hover {
    background-color: var(--light-green);
}

.changeCellButton[data-mode="start"]:focus, #startAlgorithmButton:focus {
    box-shadow: 0 0 0 3px var(--light-green);
}

.changeCellButton[data-mode="end"] {
    border-color: var(--red);
}

.changeCellButton[data-mode="end"]:hover {
    background-color:var(--light-red);
}

.changeCellButton[data-mode="end"]:focus {
    box-shadow: 0 0 0 3px var(--light-red);
}

.clearField {
    border-color: var(--blue);
}

.clearField:hover {
    background-color: var(--light-blue);
}

.clearField:focus {
    box-shadow: 0 0 0 3px var(--light-blue);
}