.menu {
    top: 0;
    left: 5%;
    width: 90%;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color:white;
    display: flex;
}

.menu div {
    position: relative;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 16%;
    border-bottom: 3px solid;
    text-align: center;
}
