/* ТАБЛИЦА */

#field, #table {
    background: var(--background);
}

table {
    margin: 0 auto;
    table-layout: fixed;
    border: 2px solid gray;
    border-collapse: collapse;
}

#table td {
    border: 1px solid gray;
}

td[data-state = "1"] {
    background-color:gray;
}

td:hover {
    background-color:lightgray;
}