/* ПОЛЕ */

textarea {
    font-family: var(--default-font);
    font-size: 16px;
    border: 3px solid var(--gray);
    padding: 10px;
    margin: 10px 0px;
    width: 100%;
    resize: vertical;
    box-sizing: border-box;
    display: inline-block;
}

textarea:focus {
    outline: none;
}

#requestTextArea {
    font-family: var(--default-font);
    font-size: 16px;
    border: 3px solid var(--gray);
    padding: 10px;
    margin: 10px 0px;
    width: 100%;
    box-sizing: border-box;
}

#requestTextArea:focus {
    outline: none;
}

#saveSample {
    width: 50%;
    margin-left: auto;
}

/* КНОПКИ */

#makeTree, #getResult {
    font-size: 18px;
    font-weight: 800;
    border-color: var(--green);
}

#makeTree:hover, #getResult:hover {
    background-color: var(--light-green);
}

#makeTree:focus, #getResult:focus {
    box-shadow: 0 0 0 3px var(--light-green);
}